@tailwind base;
@tailwind components;
@tailwind utilities;

/* .abc{
    background-color: rgba(0, 0, 0, 0.767);
    opacity: .2;
} */
.slick-arrow.slick-prev {
    position: absolute;
    z-index: 2;
    top: 50%;
    color: white;
    font-size: 40px;
    border: 2px solid white;
    padding: 10px;
    left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slick-arrow.slick-next {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 50%;
    color: white;
    font-size: 40px;
    border: 2px solid white;
    padding: 10px;
    margin-left: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}